# Wordpress Files
/public
!public/.gitkeep

# Ideas
/.idea
/.vscode

# Dotenv
/.env
/.env.local.*
!/.env.example

# WP-CLI
/wp-cli.local.yml

# Dependencies
/vendor
/node_modules

# Tools
/tools/*
!/tools/dotenv-dump.php
!/tools/generate.php
!/tools/htpasswd-admin.php
