# Application
/public/wp-*/
/public/wp-*.php
/public/index.php
/public/xmlrpc.php
/public/readme.html
/public/license.txt
!/public/wp-content/
/public/wp-content/*
!/public/wp-content/mu-plugins/
/public/wp-content/mu-plugins/*/
!/public/wp-content/plugins/
/public/wp-content/plugins/*
!/public/wp-content/plugins/.gitkeep
!/public/wp-content/themes/
/public/wp-content/themes/*
!/public/wp-content/themes/app/
!/public/wp-content/uploads/
/public/wp-content/uploads/*
!/public/wp-content/uploads/.gitkeep
/var/log/*
!/var/log/.gitkeep
/var/build/

/.idea
/.vscode

# Dotenv
/.env.local.*
!/.env.example

# WP-CLI
/wp-cli.local.yml

# Composer
/vendor

# Tools
/tools/*
!/tools/dotenv-dump.php
!/tools/generate.php
!/tools/htpasswd-admin.php